<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>com.market.controller.ApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/app_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Good</servlet-name>
        <servlet-class>com.market.controller.GoodController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Good</servlet-name>
        <url-pattern>/good_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Brand</servlet-name>
        <servlet-class>com.market.controller.BrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Brand</servlet-name>
        <url-pattern>/brand_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>com.market.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeGood</servlet-name>
        <servlet-class>com.market.controller.TypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeGood</servlet-name>
        <url-pattern>/type_out</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>