<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>com.market.controller.ApplicationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/app_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Good</servlet-name>
        <servlet-class>com.market.controller.GoodController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Good</servlet-name>
        <url-pattern>/good_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Gift</servlet-name>
        <servlet-class>com.market.controller.GiftController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gift</servlet-name>
        <url-pattern>/gift_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Activity</servlet-name>
        <servlet-class>com.market.controller.activityAPCController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activity</servlet-name>
        <url-pattern>/activityAPC_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Approval</servlet-name>
        <servlet-class>com.market.controller.activityAPVController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Approval</servlet-name>
        <url-pattern>/activityAPV_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Brand</servlet-name>
        <servlet-class>com.market.controller.BrandController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Brand</servlet-name>
        <url-pattern>/brand_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>com.market.controller.ProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeGood</servlet-name>
        <servlet-class>com.market.controller.TypeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeGood</servlet-name>
        <url-pattern>/type_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.market.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>com.market.controller.RoleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/role_out</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Permission</servlet-name>
    <servlet-class>com.market.controller.PermissionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Permission</servlet-name>
        <url-pattern>/permission_out</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.market.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.market.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Log</servlet-name>
        <servlet-class>com.market.controller.LogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncordingFileter</filter-name>
        <filter-class>com.market.filter.EncordingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncordingFileter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.market.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>